@use "./variables.scss";

.title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: variables.$title-color;

  @media (min-width: variables.$tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: variables.$desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}
