// Colors
$title-color: #000000;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

// States
// $opacity-hover: 0.6;
// $opacity-active: 0.3;
$opacity-link-hover: 0.6;
$opacity-link-active: 0.3;
$header-color-link-hover: #63d1bb;
$color-link-hover: #46c1ae;
// $bg-hover-active: #5eaa2f;
$outline-focus: 2px solid #444444;
$outline-offset-focus: 1px;
$btn-color-hover: #ffffff;
$btn-bg-hover: #444444;
$btn-color-active: rgba(255, 255, 255, 0.3);
// $btn-bg-disabled: #e5e5e5;
$btn-opacity-disabled: 0.1;
$btn-green-bg-hover: #46c1ae;
$btn-green-color-active: rgba(255, 255, 255, 0.3);
// $btn-control-color-hover: #68b738;
// $btn-control-color-active: rgba(94, 170, 47, 0.6);
// $footer-logo-color-hover-focus: #3e3e3e;
// $footer-logo-color-active: #6b6b6b;
// $footer-link-color-hover-focus: #46c1ae;
// $input-field-border-color-hover-active: #cdcdcd;
// $input-label-opacity-disabled: 0.3;
// $input-control-border-color-hover-active: #bababa;
