// Colors
$title-color: #000000;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;

// States
$opacity-link-hover: 0.6;
$opacity-link-active: 0.3;
$header-color-link-hover: #63d1bb;
$color-link-hover: #46c1ae;
$outline-focus: 2px solid #444444;
$outline-offset-focus: 1px;
$btn-color-hover: #ffffff;
$btn-bg-hover: #444444;
$btn-color-active: rgba(255, 255, 255, 0.3);
$btn-opacity-disabled: 0.1;
$btn-green-bg-hover: #46c1ae;
$btn-green-color-active: rgba(255, 255, 255, 0.3);
$input-control-border-color-hover: #62d1ba;
$input-control-border-color-active: rgba(68, 68, 68, 0.3);
$input-control-modal-border-color-active: #62d1ba;
$input-field-box-shadow-hover-active: 0 -2px 0 0 #62d1ba inset;
$input-field-border-color-hover-active: #62d1ba;
$input-label-opacity-disabled: 0.3;
