@use "./variables.scss";

.catalog-products {
  padding: 30px 30px 15px 30px;

  @media (min-width: variables.$tablet-width) {
    padding: 79px 30px 25px 30px;
  }

  @media (min-width: variables.$desktop-width) {
    padding-top: 128px;
    padding-bottom: 29px;
  }
}

.catalog-products__list {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    gap: 54px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
  }
}
